body{
    padding: 0px;
    margin:0px ;
}
.left_nav{
    padding-top: 10px;
    height: 600px;
    width: 200px;
    text-align: center;
    background-color: rgb(37, 40, 40);
    color: aliceblue;
}


h3{
    text-decoration: underline;
    transition: 0.25s;
    text-align: center;
    font-size: x-large;
}
h5:hover{
    text-decoration: underline;
    transition: 0.25s;
    font-size: x-large;
    text-align: center;
}
.grid-container {
    max-width: auto;
    margin: auto;
    overflow: auto;
    align-items: center;
    /* display: inline-block; */
    justify-content: center;

  }
#h{
    align-self: center;
    text-align: center;
    text-decoration-color: yellow;
    /* border: 5px solid red; */
    font-size: xx-large;

}
.para{
    background-color: lightcyan;
    border: 5px solid rgb(235, 225, 225);
    font-size: xx-large;
    align-self: center;
    
}
#cap{
    text-align: center;
}
img {
    width: 150px;
    height: 100px;
    /* position: relative; */
    float: left;
    border-radius: 10px;
    margin: 10px;

}
img:hover{
    border: 5px solid blue;
}
.gallery{
    margin: 5px;
    /* border: 1px solid aqua; */
    position: relative;
    float: left;
    text-align: center;
    /* background-color: rgb(252, 252, 151); */
}